<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2021.  All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Result\Layout">
        <plugin name="seo_optimize_images"
                type="Hryvinskyi\SeoImageOptimizerFrontendUi\Controller\Result\OptimizeImages" sortOrder="-30" />
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="add_optimized_images_to_product_gallery"
                type="Hryvinskyi\SeoImageOptimizerFrontendUi\Plugin\AddOptimizedImagesToProductGallery"/>
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="add_optimized_images_to_product_gallery"
                type="Hryvinskyi\SeoImageOptimizerFrontendUi\Plugin\AddOptimizedImagesToConfigurableProductGallery"/>
    </type>
</config>
